/* Common styles for all menus */
.menu {
	line-height: 1;
	margin: 0 auto 3em;
}

.menu__list {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu__item {
	display: block;
	margin: 1em 0;
}

.menu__link {
	font-size: 1.05em;
	font-weight: bold;
	display: block;
	padding: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu__link:hover,
.menu__link:focus {
	outline: none;
}

/* Individual styles */

/* intro */
.menu--intro .menu__item {
	margin: 0;
}

.menu--intro .menu__link {
	width: 120px;
	height: 3em;
	text-align: center;
	color: #b5b5b5;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.menu--intro .menu__link:hover,
.menu--intro .menu__link:focus {
	color: #929292;
}

.menu--intro .menu__item--current .menu__link {
	color: #d94f5c;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

.menu--intro .menu__line {
	position: absolute;
	top: 100%;
	left: 0;
	width: 120px;
	height: 2px;
	pointer-events: none;
	border: 1px solid #fff;
	border-width: 0 45px;
	background: #d94f5c;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1);
	-webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
	transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
}

.menu--intro .menu__item:nth-child(1).menu__item--current ~ .menu__line {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.menu--intro .menu__item:nth-child(2).menu__item--current ~ .menu__line {
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}

.menu--intro .menu__item:nth-child(3).menu__item--current ~ .menu__line {
	-webkit-transform: translate3d(200%, 0, 0);
	transform: translate3d(200%, 0, 0);
}

.menu--intro .menu__item:nth-child(4).menu__item--current ~ .menu__line {
	-webkit-transform: translate3d(300%, 0, 0);
	transform: translate3d(300%, 0, 0);
}

.menu--intro .menu__item:nth-child(5).menu__item--current ~ .menu__line {
	-webkit-transform: translate3d(400%, 0, 0);
	transform: translate3d(400%, 0, 0);
}

@media screen and (max-width:55em) {
	.menu--intro .menu__line {
		top: 3em;
	}

	.menu--intro .menu__item:nth-child(1).menu__item--current ~ .menu__line {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	.menu--intro .menu__item:nth-child(2).menu__item--current ~ .menu__line {
		-webkit-transform: translate3d(0, 3em, 0);
		transform: translate3d(0, 3em, 0);
	}

	.menu--intro .menu__item:nth-child(3).menu__item--current ~ .menu__line {
		-webkit-transform: translate3d(0, 6em, 0);
		transform: translate3d(0, 6em, 0);
	}

	.menu--intro .menu__item:nth-child(4).menu__item--current ~ .menu__line {
		-webkit-transform: translate3d(0, 9em, 0);
		transform: translate3d(0, 9em, 0);
	}

	.menu--intro .menu__item:nth-child(5).menu__item--current ~ .menu__line {
		-webkit-transform: translate3d(0, 12em, 0);
		transform: translate3d(0, 12em, 0);
	}
}

/* week5 */
.menu--week5 .menu__link {
	position: relative;
	display: block;
	margin: 0 1em;
	text-align: center;
	color: #929292;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
}

.menu--week5 .menu__link:hover,
.menu--week5 .menu__link:focus {
	color: #fff;
}

.menu--week5 .menu__item--current .menu__link {
	color: #d94f5c;
}

.menu--week5 .menu__link::before,
.menu--week5 .menu__link::after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #d94f5c;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
}

.menu--week5 .menu__link::before {
	top: 0;
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
}

.menu--week5 .menu__link::after {
	bottom: 0;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}

.menu--week5 .menu__item--current .menu__link::before,
.menu--week5 .menu__item--current .menu__link::after {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
	transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

/* week6 */
.menu--week6 .menu__link {
	position: relative;
	display: block;
	margin: 0 1.5em;
	padding: 0.75em 0;
	text-align: center;
	color: #b5b5b5;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.menu--week6 .menu__link:hover,
.menu--week6 .menu__link:focus {
	color: #929292;
}

.menu--week6 .menu__item--current .menu__link {
	color: #d94f5c;
}

.menu--week6 .menu__link::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background: #d94f5c;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
	-webkit-transition: -webkit-transform 0.1s;
	transition: transform 0.1s;
}

.menu--week6 .menu__item--current .menu__link::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

/* week7 */
.menu--week7 .menu__item {
	position: relative;
	margin: 0 1em;
}

.menu--week7 .menu__link {
	position: relative;
	display: block;
	text-align: center;
	color: #929292;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
}

.menu--week7 .menu__link:hover,
.menu--week7 .menu__link:focus {
	color: #fff;
}

.menu--week7 .menu__item--current .menu__link {
	color: #d94f5c;
}

.menu--week7 .menu__item::before,
.menu--week7 .menu__item::after,
.menu--week7 .menu__link::before,
.menu--week7 .menu__link::after {
	content: '';
	position: absolute;
	background: #d94f5c;
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
}

.menu--week7 .menu__item::before,
.menu--week7 .menu__item::after {
	top: 0;
	width: 2px;
	height: 100%;
	-webkit-transform: scale3d(1, 0, 1);
	transform: scale3d(1, 0, 1);
}

.menu--week7 .menu__item::before {
	left: 0;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

.menu--week7 .menu__item::after {
	right: 0;
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

.menu--week7 .menu__link::before,
.menu--week7 .menu__link::after {
	left: 0;
	width: 100%;
	height: 2px;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
}

.menu--week7 .menu__link::before {
	top: 0;
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
}

.menu--week7 .menu__link::after {
	bottom: 0;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}

.menu--week7 .menu__item--current::before,
.menu--week7 .menu__item--current::after,
.menu--week7 .menu__item--current .menu__link::before,
.menu--week7 .menu__item--current .menu__link::after {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

/* week8 */
.menu--week8 .menu__item {
	position: relative;
	margin: 1em;
}

.menu--week8 .menu__link {
	position: relative;
	display: block;
	min-width: 110px;
	text-align: center;
	color: #b5b5b5;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.menu--week8 .menu__link:hover,
.menu--week8 .menu__link:focus {
	color: #929292;
}

.menu--week8 .menu__item--current .menu__link {
	color: #d94f5c;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.menu--week8 .menu__item::before,
.menu--week8 .menu__item::after,
.menu--week8 .menu__link::before,
.menu--week8 .menu__link::after {
	content: '';
	position: absolute;
	background: #d94f5c;
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
}

.menu--week8 .menu__item::before,
.menu--week8 .menu__item::after {
	top: 0;
	width: 4px;
	height: 100%;
	-webkit-transform: scale3d(1, 0, 1);
	transform: scale3d(1, 0, 1);
}

.menu--week8 .menu__item::before {
	left: 0;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

.menu--week8 .menu__item::after {
	right: 0;
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

.menu--week8 .menu__link::before,
.menu--week8 .menu__link::after {
	left: 0;
	width: 100%;
	height: 4px;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
}

.menu--week8 .menu__link::before {
	top: 0;
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
}

.menu--week8 .menu__link::after {
	bottom: 0;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}

.menu--week8 .menu__item--current::before,
.menu--week8 .menu__item--current::after,
.menu--week8 .menu__item--current .menu__link::before,
.menu--week8 .menu__item--current .menu__link::after {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.menu--week8 .menu__item--current::after {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.menu--week8 .menu__item--current .menu__link::before {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.menu--week8 .menu__item--current .menu__link::after {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

/* week9 */
.menu--week9 .menu__item {
	position: relative;
	margin: 1em;
}

.menu--week9 .menu__link {
	position: relative;
	display: block;
	min-width: 120px;
	text-align: center;
	color: #b5b5b5;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.menu--week9 .menu__link:hover,
.menu--week9 .menu__link:focus {
	color: #929292;
}

.menu--week9 .menu__item--current .menu__link {
	color: #d94f5c;
}

.menu--week9 .menu__item::before,
.menu--week9 .menu__item::after,
.menu--week9 .menu__link::before,
.menu--week9 .menu__link::after {
	content: '';
	position: absolute;
	background: #d94f5c;
	-webkit-transition: -webkit-transform 0.1s;
	transition: transform 0.1s;
	-webkit-transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
	transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
}

/* left and right line */
.menu--week9 .menu__item::before,
.menu--week9 .menu__item::after {
	top: 0;
	width: 2px;
	height: 100%;
	-webkit-transform: scale3d(1, 0, 1);
	transform: scale3d(1, 0, 1);
}

/* left line */
.menu--week9 .menu__item::before {
	left: 0;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

/* right line */
.menu--week9 .menu__item::after {
	right: 0;
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

/* top and bottom line */
.menu--week9 .menu__link::before,
.menu--week9 .menu__link::after {
	left: 0;
	width: 100%;
	height: 2px;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
}

/* top line */
.menu--week9 .menu__link::before {
	top: 0;
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
}

/* bottom line */
.menu--week9 .menu__link::after {
	bottom: 0;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}

/* Delays (first reverse, then current) */

/* These rules can be simplified, but let's keep it for better readability */

/* bottom line */
.menu--week9 .menu__item .menu__link::after {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.menu--week9 .menu__item--current .menu__link::after {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

/* left line */
.menu--week9 .menu__item::before {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.menu--week9 .menu__item--current::before {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

/* top line */
.menu--week9 .menu__item .menu__link::before {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.menu--week9 .menu__item--current .menu__link::before {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

/* right line */
.menu--week9 .menu__item--current::after {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.menu--week9 .menu__item--current::before,
.menu--week9 .menu__item--current::after,
.menu--week9 .menu__item--current .menu__link::before,
.menu--week9 .menu__item--current .menu__link::after {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

/* week10 */
.menu--week10 .menu__item {
	position: relative;
	margin: 0.5em 1em;
}

.menu--week10 .menu__link {
	line-height: 1.15;
	position: relative;
	display: block;
	min-width: 110px;
	text-align: center;
	color: #b5b5b5;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.menu--week10 .menu__link:hover,
.menu--week10 .menu__link:focus {
	color: #929292;
}

.menu--week10 .menu__item--current .menu__link {
	color: #d94f5c;
}

.menu--week10 .menu__item::before,
.menu--week10 .menu__item::after,
.menu--week10 .menu__link::before,
.menu--week10 .menu__link::after {
	content: '';
	position: absolute;
	background: #d94f5c;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.44, 0.05, 0.55, 0.95);
	transition-timing-function: cubic-bezier(0.44, 0.05, 0.55, 0.95);
}

.menu--week10 .menu__item::before,
.menu--week10 .menu__item::after {
	top: 0;
	width: 4px;
	height: 100%;
	-webkit-transform: scale3d(0.1, 0, 1);
	transform: scale3d(0.1, 0, 1);
}

/* left line */
.menu--week10 .menu__item::before {
	left: 0;
}

/* right line */
.menu--week10 .menu__item::after {
	right: 0;
}

.menu--week10 .menu__link::before,
.menu--week10 .menu__link::after {
	left: 0;
	width: 100%;
	height: 4px;
	-webkit-transform: scale3d(0, 0.1, 1);
	transform: scale3d(0, 0.1, 1);
}

/* top line */
.menu--week10 .menu__link::before {
	top: 0;
}

/* bottom line */
.menu--week10 .menu__link::after {
	bottom: 0;
}

.menu--week10 .menu__item--current::before,
.menu--week10 .menu__item--current::after,
.menu--week10 .menu__item--current .menu__link::before,
.menu--week10 .menu__item--current .menu__link::after {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}


/* End: tantalid Styles */

/* YOUR STYLE (Shakespeare character name) see README.md for details */
/* (Please copy these two lines and insert after your custom styles) */


/* Name (by @you) */

/* [Your styles here]*/

/* End: Name Styles */


/* Media queries */

/* Stack items for smaller screens */
@media screen and (max-width:55em) {
	.menu__list {
		display: block;
		margin: 0 auto;
	}
}
